/*
Less me
*/
@import "../shared/includes.scss";

.app-bar {
	@include flexbox();
	@include flex-direction(row);
	@include align-items(center);
	@include justify-content(flex-start);

	position: fixed;
	width: 100%;
	top: 0;
	height: 64px;
	box-shadow: 0 1px 1px 0;
  @include brand-primary( 'background-color');
}

.app-bar-container {

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
  display: flex;

	color: white;
	flex: 1;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
  height: 50;
	@media (max-width: $desktopBreakpoint) {
		&.logo {
			.rtl & {
        padding-right: 0px;
      }

			.ltr & {
        padding-left: 0px;
			}
    }

		&.buttons {
			.ltr & {
				padding-right: 14px;
      }

			.rtl & {
				padding-left: 14px;
			}
		}
	}
}

.logo-centered {
	align-items: center;
	justify-content: center;
}

.app-bar-buttons {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row;
	.app-bar-selectors {
		padding: 16px 5px;
		text-transform: uppercase;
		cursor: pointer;
		font-size: 14px;
		@media (max-width: 320px) {
			font-size: 10px;
		}
		@media (min-width: 321px) {
			font-size: 12px;
			padding: 16px 8px;
		}
		@media (min-width: 960px) {
			font-size: 14px;
			padding: 16px 11px;
		}

		.rtl & {
			font-family: "Cairo", sans-serif;
		}
	}
}

.app-bar-separator {
	border-left-width: 1px;
	border-left-color: #ffffff;
	border-left-style: solid;
	height: 25px;
  @include brand-inverse( "border-left-color");
}

.app-bar-logo {
	height: 80px;
	cursor: pointer;
}

.headroom {
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.headroom--unfixed {
	position: relative;
	-ms-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);
	transform: translateY(0);
}

.headroom--scrolled {
	-moz-transition: transform 200ms ease-in-out;
	-webkit-transition: transform 200ms ease-in-out;
	transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
	@extend .headroom--scrolled;
	position: fixed;
	-ms-transform: translateY(-65px);
	-moz-transform: translateY(-65px);
	-webkit-transform: translateY(-65px);
	transform: translateY(-65px);
}

.headroom--pinned {
	@extend .headroom--scrolled;
	position: fixed;
	-ms-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}

.AppHeader {
	.SearchBar {
		height: 30px;
		padding-bottom: 1em;
		padding-left: 16px;
		padding-right: 16px;
		padding-top: 20px;
		background-color: #19505b;

		input {
			-webkit-appearance: none;
			line-height: 25px;
			font-size: 20px;
			width: 100%;
			box-sizing: border-box;
			border: 0;
			background-color: #19505b;
			border-bottom: 2px white solid;
			color: white;

			padding: 0;
			border-radius: 0;
		}
		input:focus {
			outline: none;
		}
		.fa-times-circle {
			margin-inline-start: -33px;
			margin: 5px 5px;
			top: 80px;

			.ltr & {
				right: 35px;
			}
			.rtl & {
				left: 35px;
			}
		}
		.fa-search {
			margin: 5px 5px;
			top: 70px;
			.ltr & {
				right: 5px;
			}
			.rtl & {
				left: 5px;
			}
		}
		.fa {
			color: white;
			width: 25px;
			font-size: 20px;

			position: absolute;
		}
	}
}

$icon-width: 22px;
$icon-height: 22px;
$icon-width: 20px;
$icon-height: 20px;
$border-width: 2px;
$transition-duration: 0.3s;
$color: #ffffff;

.search-close > span:first-of-type {
	position: relative;
	top: 50%;
	left: 35%;
	transform: translate(-50%, -50%);
	text-align: center;
	max-width: $icon-width;
	height: $icon-height;
	cursor: pointer;
	margin-top: 22px;
	.rtl & {
		left: 0;
	}
}

.search-close > span:first-of-type:before,
.search-close > span:first-of-type:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	border: $border-width solid $color;
}

.search-close > span:first-of-type:before {
	width: 75%;
	height: 75%;
	border-radius: 50%;
	border-width: $border-width;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg); /* FF3.5/3.6 */
	-o-transform: rotate(45deg); /* Opera 10.5 */
	-webkit-transform: rotate(45deg); /* Saf3.1+ */
	transition: all $transition-duration, background-color 0s linear 0s;
	filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod="auto expand", M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE6,IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */
}

.search-close > span:first-of-type:after {
	border-width: ($border-width / 2);
	width: 0;
	height: 35%;
	left: 75%;
	top: 75%;
	margin-left: 0;
	margin-top: 0;
	background-color: $color;
	transform: translate(-50%, -50%) rotate(-45deg);
	transition: all $transition-duration;
}

.active > span:first-of-type:before {
	width: 0;
	height: 100%;
	border-radius: 0;
	border-width: ($border-width / 2);
	left: 50%;
	background-color: $color;
	transition: all $transition-duration, background-color 0s linear 0.3s;
	transform: translateX(-$border-width / 2) rotate(45deg);
}
.active > span:first-of-type:after {
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}
.MuiIconButton-label-30 > svg,
.MuiSvgIcon-root-102 {
	display: none;
}

.SearchButton {
	width: 100%;
	display: flex;
	align-items: inherit;
	justify-content: inherit;
	transform: translate(-50%, -50%);
	text-align: center;
	max-width: $icon-width;
	height: $icon-height;
	cursor: pointer;
	margin-top: 24px;
	margin-left: 20px;
}

.SearchButton:before,
.SearchButton:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	border: $border-width solid $color;
}

.SearchButton:before {
	width: 75%;
	height: 75%;
	border-radius: 50%;
	border-width: $border-width;
	transform: rotate(45deg);
	transition: all $transition-duration, background-color 0s linear 0s;
}
.active .SearchButton:before {
	width: 0;
	height: 100%;
	border-radius: 0;
	border-width: ($border-width / 2);
	left: 50%;
	background-color: $color;
	transition: all $transition-duration, background-color 0s linear 0.3s;
	transform: translateX(-$border-width / 2) rotate(45deg);
}

.SearchButton:after {
	border-width: ($border-width / 2);
	width: 0;
	height: 35%;
	left: 75%;
	top: 75%;
	margin-left: 0;
	margin-top: 0;
	background-color: $color;
	transform: translate(-50%, -50%) rotate(-45deg);
	transition: all $transition-duration;
}
.active .SearchButton:after {
	height: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}

.SearchButton svg {
	display: none;
}
.react-sanfona{
  color: black;
  box-sizing: border-box;
}
.menu-parent{
  color: black;
  line-height: 56px;
  border-bottom: 1px solid black;
  padding-left: 20px;
  box-sizing: border-box;
}
.menu-item{
  color: black;
  opacity: 0.6;
  margin-left: 40px;
  box-sizing: border-box;
}
.react-sanfona-item-expanded{
  border-bottom: none !important;
  
}
/*
Styles for burger menu
*/

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


main {
  padding: 3em 2em;
  text-align: center;
  background: #b4bad2;
  overflow: hidden;
}
.bm-menu-wrap{
    height: 100vh !important; 
    overflow-x: scroll;
    padding-bottom: 15px;
    background-color: white;
    margin-top: 34px;
}

.description {
  max-width: 20em;
  margin: 1.2em auto 1em;
  line-height: 1.3em;
  font-weight: 400;
}
.demo-buttons {
  font-size: 1em;
  max-width: 1200px;
  margin: 2em auto 3em;
  padding: 0 10em;
}
.demo-buttons a {
  display: inline-block;
  margin: 0.75em;
  padding: 1.35em 1.1em;
  width: 15em;
  background: #fffce1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  border-top-left-radius: 20px 50px;
  border-top-right-radius: 20px 50px;
  border-bottom-right-radius: 20px 50px;
  border-bottom-left-radius: 20px 50px;
  cursor: pointer;
}

.demo-buttons a.current-demo {
  background: #c94e50;
  color: #fffce1;
}
.side-button {
  display: inline-block;
  width: 5em;
  height: 2.5em;
  line-height: 2.5em;
  cursor: pointer;
  background: #fffce1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8em;
  font-weight: 800;
}
.side-button.left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.side-button.right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.side-button.active {
  background: #c94e50;
  color: #fffce1;
}
@media screen and (max-width: 40em) {
  main {
    font-size: 80%;
  }
  h1 {
    padding-top: 1em;
    font-size: 2.5em;
  }
  .demo-buttons {
    max-width: 900px;
    padding: 0 2em;
  }
}
.bm-burger-button {
    .rtl & {
        right: 20px;
      }
      
			.ltr & {
        left: 20px;
			}
    position: fixed;
    width: 20px;
    height: 15px;
    top: 25px;
}
.right .bm-burger-button {
  left: initial;
  right: 36px;
}
.bm-burger-bars {
  background: white;
  height: 10% !important;
}
.bm-morph-shape {
  fill: #373a47;
}
.bm-menu {
  background:white;
}
.bm-overlay{
    margin-top:32px;
    height: 100vh !important; 
    background: rgba(0, 0, 0, 0.6) !important; 
}
.bm-item-list a {
  padding: 0.8em;
  text-decoration: none;
  border-bottom: none !important;
}
.bm-item-list a span {
  margin-left: 10px;
  font-weight: 700;
}
.bm-item-list .menu-item{
    font-family: "Roboto";
    font-size: 16px;
    color: black
}
.menu-1 .bm-cross {
  background: #bdc3c7;
}
.menu-1 .bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
.menu-2 .bm-cross {
  background: #999;
}
.menu-2 .bm-menu {
  padding: 3.4em 1em 0;
}
.menu-2 a {
  padding: 1em;
}
.menu-2 i {
  font-size: 1.7em;
  vertical-align: middle;
  color: #282a35;
}
.menu-3 .bm-cross {
  background: #888;
}
.menu-3 .bm-menu {
  padding: 2em 1em;
  font-size: 1.15em;
}
.menu-3 i {
  opacity: 0.5;
}
.menu-3 span {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75em;
}
.menu-4 .bm-cross {
  background: #888;
}
.menu-4 h2 {
  margin: 0 auto;
  padding: 2em 1em;
  color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
}
.menu-4 h2 i {
  margin-left: 0.2em;
}
.menu-4 h2 span {
  font-size: 1.6em;
  font-weight: 700;
}
.menu-4 a {
  padding: 1em;
  text-transform: uppercase;
  transition: background 0.3s, box-shadow 0.3s;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
}
.menu-4 a span {
  letter-spacing: 1px;
  font-weight: 400;
}
.menu-4 a:hover,
.menu-4 a:focus {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
  color: #b8b7ad;
}
#slide .bm-cross,
#stack .bm-cross,
#reveal .bm-cross {
  background: #bdc3c7;
}
#slide .bm-menu,
#stack .bm-menu,
#reveal .bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
#bubble .bm-cross,
#push .bm-cross {
  background: #999;
}
#bubble .bm-menu,
#push .bm-menu {
  padding: 3.4em 1em 0;
}
#bubble a,
#push a {
  padding: 1em;
}
#bubble i,
#push i {
  font-size: 1.7em;
  vertical-align: middle;
  color: #282a35;
}
#elastic .bm-cross {
  background: #888;
}
#elastic .bm-menu {
  padding: 2em 1em;
  font-size: 1.15em;
}
#elastic i {
  opacity: 0.5;
}
#elastic span {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75em;
}
#scaleDown .bm-cross,
#scaleRotate .bm-cross,
#pushRotate .bm-cross,
#fallDown .bm-cross {
  background: #888;
}
#scaleDown h2,
#scaleRotate h2,
#pushRotate h2,
#fallDown h2 {
  margin: 0 auto;
  padding: 2em 1em;
  color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
}
#scaleDown h2 i,
#scaleRotate h2 i,
#pushRotate h2 i,
#fallDown h2 i {
  margin-left: 0.2em;
}
#scaleDown h2 span,
#scaleRotate h2 span,
#pushRotate h2 span,
#fallDown h2 span {
  font-size: 1.6em;
  font-weight: 700;
}
#scaleDown a,
#scaleRotate a,
#pushRotate a,
#fallDown a {
  padding: 1em;
  text-transform: uppercase;
  transition: background 0.3s, box-shadow 0.3s;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
}
#scaleDown a span,
#scaleRotate a span,
#pushRotate a span,
#fallDown a span {
  letter-spacing: 1px;
  font-weight: 400;
}
#scaleDown a:hover,
#scaleRotate a:hover,
#pushRotate a:hover,
#fallDown a:hover,
#scaleDown a:focus,
#scaleRotate a:focus,
#pushRotate a:focus,
#fallDown a:focus {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
  color: #b8b7ad;
}
