@import "../shared/includes.scss";

.ArticlePage {
  h1 {
    font-size: 20px;
    margin: 0;
    padding: 0;
  }

  #topthird p {
    font-size: 14px;
    font-weight: 500;
  }

  #topthird * {
    padding-right: 10px;
  }

  #tldr {
    padding-right: 30px;
  }

  #tldr li {
    padding: 0;
  }

  #maincontent {
    padding: 15px;
  }

  #maincontent ul {
    padding-right: 25px;
  }

  #article-container {
    padding: 40px;
  }

}
