@import "../shared/includes.scss";

.ArticlePage {
    h1{
        font-size:20px;
        margin: 0px;
        padding:0px;
    }


    #topthird p {
        font-size: 14px;
        font-weight: 500;
    }
    .main-list {
      padding-right:15px;

    }
    #topthird * {
        padding-right: 10px;
    }

    #tldr {
        padding-right: 30px;
    }

    #tldr li{
        padding: 0px;
    }

    #maincontent{
        padding: 15px;
    }

    #maincontent ul{
        padding-right: 25px;
    }

    #process{
        background-color:#f2f2f2;
        padding: 10px;
    }

    #process li.first {


        background: url(/images/process1.png) no-repeat right top;
        list-style: none;
        margin-top: 20px;
        padding-left: 0px;
        padding-right: 45px;
      

    }

    .normal{
        list-style-image: none;

    }

    #process li.second {
      background: url(/images/process2.png) no-repeat right top;
      margin-top: 10px;
      padding-left: 0px;
      padding-right: 45px;
      list-style: none;

    }

    #process li.third {
      background: url(/images/process3.png) no-repeat right top;
      margin-top: 10px;
      padding-left: 0px;
      padding-right: 45px;
      list-style: none;
      margin: 0;
    }

    #process li.fourth {
      background: url(/images/process4.png) no-repeat right top;

      margin-top: 10px;
      padding-left: 0px;
      padding-right: 45px;
      list-style: none;
      margin: 0;
    }

    #audio{
        margin-right: 15px;
        padding:0px;
    }

<<<<<<< HEAD
=======
    article{
        padding:20px 20px 5px 20px;;
    }
>>>>>>> 7485e9f10eca644984b6eb2bdbf4248574003995

}
