@import "../shared/includes.scss";

.BottomNav {
  @include bottomNav-color( 'background-color');
  & > button > span {
    @include bottomNav-shade-color( "color");
  }
  
  & > button.Selected > span  {
    @include brand-colors-inverse( "color");
  }

	box-shadow: 0px 1px 10px 1px;

	.rtl & span {
		font-size: 12px;
	}
	.Selected {
		.rtl & {
			font-family: "Cairo", sans-serif;
		}
    @include brand-colors-inverse( "color");
	}

	.Selected > span > span {
		.rtl & {
			font-family: "Cairo", sans-serif;
		}
		@include brand-colors-inverse( "color");
		font-weight: 100;
	}
	& > div > button > span > svg {
		.rtl & {
			-moz-transform: scaleX(-1);
			-o-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
			filter: FlipH;
			-ms-filter: "FlipH";
		}
	}

	.BottomButton {
    
		@media (max-width: 375px) {
			font-size: 75% !important;
		}
		.rtl & {
			font-family: "Cairo", "Roboto", sans-serif;
		}
		.ltr & {
			font-family: "Roboto", sans-serif;
			padding: 0;
		}
	}
}

