@import "../shared/includes.scss";

.ArticlePage {
    #generalinfo {
        padding: 15px;
    }

    #audio{
        margin-right: 15px;
        padding:0px;
    }

    h1{
        font-size:20px;
        margin: 0px;
        padding:0px;
    }

    #icons {
        display: flex;
        flex-direction: row;
    } 
    
    #icons img{
        margin: 0px;
        padding: 5px;
    }

    #info ul{
        padding-top: 5px;
    }

    #info li.telephone {
        list-style-image:url(/images/phone.png);
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        padding-bottom: 15px;
    }

    #info li.whatsapp {
        list-style-image:url(/images/whatsapp.png);
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        padding-bottom: 15px;
    }

    #info li.facebook {
        list-style-image:url(/images/fb.png);
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        padding-bottom: 15px;
    }

    #info li.location {
        list-style-image:url(/images/location.png);
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        padding-bottom: 15px;
    }
    .location p{
        color: #5F6368;
    }
    article{
        font-size: 12px;
    }
    #servicesDescr{
        padding: 15px;
    }

}
