@import "../shared/includes.scss";

.ArticlePage {
    article{
        padding-top: 0px;
        font-size: 12px;
    }
    #generalinfo {
        padding-bottom: 15px;
    }

    #audio{
        margin-right: 15px;
        padding:0px;
    }

    h1{
        font-size:20px;
        margin: 0px;
        padding:0px;
    }

    #icons {
        display: flex;
        flex-direction: row;
    } 
    
    #icons img{
        margin: 0px;
        padding: 5px;
    }

    #info ul{
        padding-top: 5px;
        padding-right: 10px;
    }
    #info li{
        list-style: none;
        height: 30px;
    }
    #info p{
        margin-right: 30px;
    }
   .telephone {
        background: url(/images/phone.png) no-repeat right top;
    }

    .whatsapp {
        background: url(/images/whatsapp.png) no-repeat right top;
    }

    .facebook {
        background: url(/images/facebook.png) no-repeat right top;
    }

    .location {
        background: url(/images/pin.png) no-repeat right top;
    }
    .location p{
        color: #5F6368;
    }
    .locationcaption{
        background-color: #d8d8d8;
    }
    .locationcaption p{
        padding-right: 10px;
        margin:0px;
    }

    #servicesDescr{
        padding: 15px;
    }

    #addtlinfo ul{
        padding-right: 15px;
    }

    #addtlinfo li{
        list-style: none;
        height: 30px;
    }
    #addtlinfo p{
        margin-right: 30px;
    }
    #addtlinfo b{
        padding-right: 15px;
    }
   .wifi {
        background: url(/images/wifi.png) no-repeat right top;
    }

    .wc {
        background: url(/images/wc.png) no-repeat right top;
    }

    .breastfeeding {
        background: url(/images/breastfeeding.png) no-repeat right top;
    }

    .handicap {
        background: url(/images/handicap.png) no-repeat right top;
    }
    .free {
        background: url(/images/free.png) no-repeat right top;
    }

}
